<!DOCTYPE html>
<html lang="en">
<head>
  <body>
    <meta charset="UTF-8">
    <title>Reserve internationale de semence de Svalbard</title>
<link rel="stylesheet" href="../static/background.css">

    </body>
</head>

<body>

<u><h1 >
        Réserve internationale de semences de Svalbard
</h1></u>

<form action="Portail" method="get"><button name="id" value={{ id }}>Portail</button></form>
<form action="BaseDeDonnee" method="get"><button>Base de donnée globale</button></form>

<img  class="centre" src="../static/svalbard.jpg" /> </img>

<h2> Déposants  <br>Genre <br> Espèces <br> Échantillons de semences </h2>
</body>
</html>